services:
  nginx-{{subdomain}}:
    container_name: {{subdomain}}
    image: {{docker_image}}
    volumes:
    - /home/ubuntu/{{subdomain}}/ws/:/ws
    - /home/ubuntu/{{subdomain}}/ws/canvas-input:/canvas-input
    - /home/ubuntu/{{subdomain}}/ws/itda-hwdoc:/itda-hwdoc
    - /var/log/container:/var/log/nginx
    ports:
    - "{{port}}:8080"
    environment:
    - ITDA_WS_HOME=/canvas-input
    - ITDA_WS_USER=/ws
    - ITDA_HW_DOC_DIR=/itda-hwdoc